/* UserList.css */
.user-list {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .user-list-heading {
    text-align: center;
  }
  
  .user-list-container {
    max-width: 600px; /* or any other width you prefer */
    margin: 0 auto; /* This centers the container */
  }
  
  .user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .delete-button {
    margin-left: auto;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff5252;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  
  .search-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%; /* This ensures the search input stretches to the container's width */
    box-sizing: border-box; /* This ensures padding doesn't add to the total width */
  }